In [3]:
#CP7_Pandas
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5,np.nan, 9, 20, 14.5,np.nan, 8, 19],'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
labels2 = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
exam_dataFrame=pd.DataFrame(exam_data, index=labels)
print(exam_dataFrame)
print('---------________---------------------____________________-----------')
print('presentation des trois premières lignes')
print(exam_dataFrame.head(3))
print('-------------------------------')
print('-------------------------------')
print('extraction dataFrame deux colonnes')
score=exam_dataFrame[['name','score']]
print(score)
print('--___---__-_-_-_-_--_')
print('-------------------------------')
print('changement d index')
score.index=['presentiel','distanc','presentiel','presentiel','distanc','presentiel','distanc','presentiel','presentiel','distanc']
print(score)
print('******-----*******')
print('-------------------------------')
print('extraction data frame par choix index')
print(score.loc[['presentiel']])
print('//------///------///')
print('-------------------------------')
print(exam_dataFrame)
exam_dataFrame.iloc[:,[1,3]]
print('------------******---------------***************---------------***********')
print('------------******---------------***************---------------***********')
exam_dataFrame2=exam_dataFrame.dropna()
print('data frame 2')
print(exam_dataFrame2)
print('shape data frame')
print(exam_dataFrame2.shape)
print(exam_dataFrame.dropna())
print('-------------___-_-_-_-_-_-_-_-_-_-_______________--------------')
print('-------------___-_-_-_-_-_-_-_-_-_-_______________--------------')
print('reindexation')
exam_dataFrame2.index=labels2[0:8]
print(exam_dataFrame)
print('///***//////////////////////////*************')
print('reindexation-----------essai 2-------------')
print(exam_dataFrame2.shape)
exam_dataFrame2.index=labels2[1:exam_dataFrame2.shape[0]+1]
print('///**////')
print(exam_dataFrame2)
print('///***//////////////////////////*************')
#exam_dataFrame2.index=labels2
#print(exam_dataframe2)
print('&&&&&&&----------______-----------&&&&&&&')
exam_dataFrame2.loc['k']=['Surech',15,1,'yes']
print(exam_dataFrame)
print('---*-**-*---////////')
#nd=exam_dataFrame2.drop('attempts',axis=1)
#print(nd)
#def result(n):
    #if n>10:
            #retrurn 'admis'
        #else:
            #return 'non admis

#nd.insert(loc=3,column='success',value=result(exam_dataFrame2[:1]))
#print('nd')
#print(nd)
#print(exam_dataFrame)
#Dict_add={'name':['Surech','Mourad','Yassin','Fatma'],'score':[15.5,25,25,25],'attempts':[1,1,1,1],'qualify':['yes','yes','yes','yes']}
#Dict_tot=exam_data.update(Dict_add)
#print('new Data Frame')
#DataFrame_tot=pd.DataFrame(Dict_tot)
#print(DataFrame_tot)
#dataFrame_add=pd.DataFrame(Dict_add)
#print('Données à ajouter')
#print(dataFrame_add)
#exam_dataFrame_add=pd.concat([exam_dataFrame,dataFrame_add])
#print('New Data Frame')
#print('******************************')
#print(exam_dataFrame_add)
#exam_dataFrame_add.index=
#print(exam_dataFrame)
#name_added=['Surech','Mourad','Yassin','Fatma']
#score_added=[15.5,25,25,25]
#attempt_added=[1,1,1,1]
#qualify_added=['yes','yes','yes','yes']
#exam_dataFrame_ADD=exam_dataFrame.append(Dict_add,ignore_index=True)
#print(exam_dataFrame_ADD)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
---------________---------------------____________________-----------
presentation des trois premières lignes
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
-------------------------------
-------------------------------
extraction dataFrame deux colonnes
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0
--___---__-_-_-_-_--_
-------------------------------
changement d index
                 name  score
presentiel  Anastasia   12.5
distanc          Dima    9.0
presentiel  Katherine   16.5
presentiel      James    NaN
distanc         Emily    9.0
presentiel    Michael   20.0
distanc       Matthew   14.5
presentiel      Laura    NaN
presentiel      Kevin    8.0
distanc         Jonas   19.0
******-----*******
-------------------------------
extraction data frame par choix index
                 name  score
presentiel  Anastasia   12.5
presentiel  Katherine   16.5
presentiel      James    NaN
presentiel    Michael   20.0
presentiel      Laura    NaN
presentiel      Kevin    8.0
//------///------///
-------------------------------
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
------------******---------------***************---------------***********
------------******---------------***************---------------***********
data frame 2
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
shape data frame
(8, 4)
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
-------------___-_-_-_-_-_-_-_-_-_-_______________--------------
-------------___-_-_-_-_-_-_-_-_-_-_______________--------------
reindexation
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
///***//////////////////////////*************
reindexation-----------essai 2-------------
(8, 4)
///**////
        name  score  attempts qualify
B  Anastasia   12.5         1     yes
C       Dima    9.0         3      no
D  Katherine   16.5         2     yes
E      Emily    9.0         2      no
F    Michael   20.0         3     yes
G    Matthew   14.5         1     yes
H      Kevin    8.0         2      no
I      Jonas   19.0         1     yes
///***//////////////////////////*************
&&&&&&&----------______-----------&&&&&&&
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
---*-**-*---////////

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12864\2083659379.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exam_dataFrame2.loc['k']=['Surech',15,1,'yes']

In [2]:
import pandas as pd
dictionary  = { 'name' : ['Jack', 'Thomas', 'Alexandre'],
    'age' : [34, 30, 16],
    'city' : ['Paris', 'Roma', 'New York']}

df = pd.DataFrame(dictionary)
print(df)

        name  age      city
0       Jack   34     Paris
1     Thomas   30      Roma
2  Alexandre   16  New York

In [87]:
print(exam_dataFrame2)
exam_dataFrame2(loc='score')

        name  score  attempts qualify
B  Anastasia   12.5         1     yes
C       Dima    9.0         3      no
D  Katherine   16.5         2     yes
E      Emily    9.0         2      no
F    Michael   20.0         3     yes
G    Matthew   14.5         1     yes
H      Kevin    8.0         2      no
I      Jonas   19.0         1     yes
k     Surech   15.0         1     yes

TypeError: 'DataFrame' object is not callable

In [32]:
import pandas as pd

data = {"name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30],"qualified": [True, False, False]}
df = pd.DataFrame(data)
print(df)
print('**-**//**//**')
newdf = df.drop("age", axis='columns')
print(newdf)

    name  age  qualified
0  Sally   50       True
1   Mary   40      False
2   John   30      False
**-**//**//**
    name  qualified
0  Sally       True
1   Mary      False
2   John      False

In [65]:
print(range(10))

range(0, 10)

In [37]:
import pandas as pd
print(exam_dataFrame)
dict_ajout  = { 'name' : ['Surech'],
    'score' : [15.5],
    'attempts' : ['1'], 'qualify':['yes']}
df_ajout=pd.DataFrame(dict_ajout)
print('////')
print(df_ajout)
print('***********')
df=exam_dataFrame.append(df_ajout)
print(df)
df3=df.rename(index={0:'k'})
print('-----------------')
print(df3)
df4=df3.drop('attempts',axis=1)
print('df4')
print(df4)
print('???')
#for index, row in df.iterrows():
  #  if row['score']>10:
   #     df4['success']=1
  #  else:
   #     df4['success']=0
print(df4)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
////
     name  score attempts qualify
0  Surech   15.5        1     yes
***********
        name  score attempts qualify
a  Anastasia   12.5        1     yes
b       Dima    9.0        3      no
c  Katherine   16.5        2     yes
d      James    NaN        3      no
e      Emily    9.0        2      no
f    Michael   20.0        3     yes
g    Matthew   14.5        1     yes
h      Laura    NaN        1      no
i      Kevin    8.0        2      no
j      Jonas   19.0        1     yes
0     Surech   15.5        1     yes
-----------------
        name  score attempts qualify
a  Anastasia   12.5        1     yes
b       Dima    9.0        3      no
c  Katherine   16.5        2     yes
d      James    NaN        3      no
e      Emily    9.0        2      no
f    Michael   20.0        3     yes
g    Matthew   14.5        1     yes
h      Laura    NaN        1      no
i      Kevin    8.0        2      no
j      Jonas   19.0        1     yes
k     Surech   15.5        1     yes
df4
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes
k     Surech   15.5     yes
???
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes
k     Surech   15.5     yes

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12864\1811219581.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=exam_dataFrame.append(df_ajout)

In [74]:
print(df4)
df5=df4.dropna()
print(df5)
print('//*------///')
print(df5.loc[:,'score'])
print('******-')
for index, row in df5.iterrows():
        for j in df5.loc[:,'score']:
            
            if j>10:
                df5['success']='succes'
                #print(j)
            else:
                df5['success']='fail'
                #print(j)
print(df5)
df5.to_csv('CP7_Pandas.csv')

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes
k     Surech   15.5     yes
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
i      Kevin    8.0      no
j      Jonas   19.0     yes
k     Surech   15.5     yes
//*------///
a    12.5
b     9.0
c    16.5
e     9.0
f    20.0
g    14.5
i     8.0
j    19.0
k    15.5
Name: score, dtype: float64
******-

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12864\3380721842.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['success']='succes'
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12864\3380721842.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['success']='fail'

        name  score qualify success
a  Anastasia   12.5     yes  succes
b       Dima    9.0      no  succes
c  Katherine   16.5     yes  succes
e      Emily    9.0      no  succes
f    Michael   20.0     yes  succes
g    Matthew   14.5     yes  succes
i      Kevin    8.0      no  succes
j      Jonas   19.0     yes  succes
k     Surech   15.5     yes  succes